certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
decorator==4.4.2
ffmpy==0.3.0
fire==0.4.0
gTTS==2.2.3
idna==3.3
imageio==2.13.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.8.2
moviepy==1.0.3
numpy==1.21.4
Pillow==8.4.0
proglog==0.1.9
requests==2.26.0
six==1.16.0
termcolor==1.1.0
tqdm==4.62.3
typing_extensions==4.0.1
urllib3==1.26.7
zipp==3.6.0
